*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/gradle
/.gradle
/.idea
/gradlew
/gradlew.bat
/captures
.externalNativeBuild
*.apk
/app/build
/app/release
.svn
